@use "@angular/material" as mat;

/* Include core styles */
@include mat.core();

/* Custom palette */
$mat-custom-theme: (
  50: #fff3e0,
  100: #ffe0b2,
  200: #ffcc80,
  300: #ffb74d,
  400: #ffa726,
  500: #ff9800,
  600: #fb8c00,
  700: #f57c00,
  800: #ef6c00,
  900: #e65100,
  A100: #ffd180,
  A200: #ffab40,
  A400: #ff9100,
  A700: #ff6d00,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: white,
    A400: white,
    A700: white,
  ),
);

/* Define palettes */
$primary: mat.define-palette($mat-custom-theme);
$accent: mat.define-palette(mat.$pink-palette);

/* Create theme */
$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
    ),
  )
);

/* Apply theme */
@include mat.all-component-themes($theme);

/* Your custom CSS */
.spinner-container {
  position: fixed;
  height: 300px;
  width: 345px;
  display: flex;
  background: white;
  margin-top: 70px;
  z-index: 1;
  opacity: 0.5;
  justify-content: center;
}
